<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d1b96399-d445-4ac4-a7ce-111c08624ba9" Publisher="CN=MaxG" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BoardGamingAssistant</DisplayName>
    <PublisherDisplayName>MaxG</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BoardGamingAssistant.App">
      <VisualElements DisplayName="BoardGamingAssistant" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BoardGamingAssistant" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>